{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MiBi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f2640cf13.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&family=Red+Rose&display=swap" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



  <link rel="shortcut icon" type="image/png" href="static/img/Logo-small.png" />
  <link rel="icon" href="logo-small.png">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <style>
    .bg-modal {
      width: 100%;
      height: 100%;
      background-color: #FBB03b;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #modal-contents {
      
      /*background-color: #FFD8CC;*/
      background-color:white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
    }
    #pop-form{
      margin:40px;
    }
    .body-cont{
       background-color: #FBB03b;
    }
    .linkp{
      margin:2px;
    }
  </style>

</head>
<body class="body-cont">
  {% if messages %}
  {% for message in messages %}
  <div>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  </div>
<div class="bg-modal">

<div class="card" id="modal-contents">
  <div class="card-body" >
    <!--<div class="close">X</div>-->
    <h3 style="font-family:  'Raleway', sans-serif; margin-top:20px;color: #1f4068;font-size:300%"> You are just one step away to begin your journey with us</h3>



  
      <form class="text-centre border-light p-5" action="{% url 'success' %}" method="POST">
              {% csrf_token %}
            <p>
              <!-- <label>
                <input type="checkbox" name="terms" value="terms_and_conditions" />
                <span style="font-family:  'Raleway', sans-serif; margin-top:20px;color: #1f4068;font-size:150%">Agree with our <a href="{% url 'terms' %}"> Terms & conditions</a> and <a href="{% url 'refund_policy' %}">Refund policy</a></span>
              </label> -->
            </p>
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_live_qn1mOPoha8nwg6"
                data-amount="1200"
                data-currency="INR"
                data-order_id="{{payment.id}}"
                data-buttontext="Pay and confirm your registration"
                data-name="MiBi Services Pvt. Ltd."
                data-description="Pay rupess 12 towards MiBi"
                data-image="{% static '/img/Logo-small.png' %}"
                data-prefill.name="MiBi"
                data-prefill.email="xyz@gmail.com"
                data-theme.color="#ffb43c"
            ></script>
            <input type="hidden" custom="Hidden Element" name="hidden">
      </form>
      <!--<span style="font-family:  'Raleway', sans-serif; margin-top:20px;color: #1f4068;font-size:150%">Agree with our <a href="{% url 'terms' %}"> Terms & conditions</a> and <a href="{% url 'refund_policy' %}">Refund policy</a></span> -->


</div>


</div>
</div>



</body>
</html>